<div class="header">
  <a href="#default" class="logo">Nous calender Events</a>
  <div class="header-right">
    <a href="#contact">Profile</a>
    <a href="#about">Logout</a>
  </div>

  <table>
    <tr>
      <td>
        <div class="text">
          <p id="h2">Nous Calender</p>

          <h1><b>Holidays</b></h1>
          <h3>{{ holiday.name }}</h3>
          <h4>{{ currentDateTime }}</h4>
        </div>

        <cdk-accordion class="example-accordion">
          <cdk-accordion-item
            #accordionItem="cdkAccordionItem"
            class="example-accordion-item"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-0'"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-0'"
          >
            <div
              class="example-accordion-item-header"
              (click)="accordionItem.toggle()"
            >
              {{ "More Information" }}
              <span class="example-accordion-item-description">
                <!-- Click to {{ accordionItem.expanded ? "close" : "open" }} -->
              </span>
            </div>
            <div
              class="example-accordion-item-body"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-0'"
              [attr.aria-labelledby]="'accordion-header-0'"
            >
              {{ holiday.desc }}
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
      </td>

      <td id="row1">
        <img src="{{ holiday.img }}" id="festimg" />

        <mat-card *ngFor="let upcomingEvents of holiday.Uevents">
          <table>
            <tr>
              <td>
                <p>{{ upcomingEvents.edate }}</p>
              </td>
              <td>
                <p id="ename">{{ upcomingEvents.ename }}</p>
              </td>
              <td>
                <img src="{{ upcomingEvents.eimg }}" id="empimg" />
              </td>
            </tr>
          </table>
        </mat-card>
      </td>
    </tr>
  </table>
  <!-- <div class="ycal">
    <ejs-calendar
      id="calendar"
      [values]="value"
      [isMultiSelection]="multiselect"
    ></ejs-calendar> -->
  <!-- </div> -->
  <div class="Ycal">
    <app-year-calendar></app-year-calendar>
  </div>
</div>
