.example-accordion {
  display: block;
  max-width: 300px;

  margin-left: 30px;

  color: rgb(18, 123, 184);
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: #999;
}

.example-accordion-item-body {
  color: black;
}
.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
}

.example-accordion-item-header:hover {
  cursor: pointer;
  background-color: lightblue;
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#festimg {
  border-radius: 15px;
  width: 800px;
  height: 400px;
  margin-left: 130px;
  margin-top: 30px;
}

.text {
  margin-left: 30px;
  margin-right: 30px;
}
mat-card {
  width: 765px;
  height: 80px;
  background-color: rgb(212, 212, 212);
  margin-left: 130px;
  border-radius: 10px;
  margin-top: 20px;
}
mat-card p {
  font-size: 40px;
  margin-right: 80px;
  color: darkred;
  margin-top: 20px;
}
#empname {
  font-size: 30px;
  margin-left: 100px;
}
#empimg {
  height: 111px;
  position: absolute;
  right: 0em;
  bottom: 0em;
  width: 130px;
  border-radius: 8px;
}

#h2 {
  font-size: 40px;
  color: #999;
  margin-top: -150px;
}
h1 {
  font-size: 50px;
  color: darkred;
  margin-top: 50px;
}
h3 {
  color: #999;
}
h4 {
  color: #999;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

.demo-inline-calendar-card {
  width: 300px;
}

app-year-calendar {
  margin-left: 30px;
}
